#cases-page{
	font-size:1em;
	overflow: hidden;
}
#upper-bar{
    margin: 0;
    width: 100%;
    position: fixed;
    border-radius: 0 0 5% 5%;
    opacity:0.8;
    top: 0;
    background-color: #066981;
    opacity: 0.9;
    z-index: 80;
    font-size: 0.8em;
    box-shadow: 0px 2px 3px 3px grey;
}
.upper-bar-comp{

}
#normal-panel{
    overflow-y:scroll;
    height:100vh;
    position:relative;
}
#admin-btn, #admin-panel{
    display:none;
}

#cases-side{
    width: 10vw;
    overflow-y: scroll;
    display: inline-block;
}
#cases-main{
    width: 85vw;
    overflow-y: scroll;
    height: 100vh;
    top: 2em;
    position: relative;
    display: inline-block;
}
.cd-cases{
    width:90%;
    margin:1em 5% 1em 5%;
    position: relative;
}
.circle{
	font-size: 0.6em;
	border-radius:50%;
	width:1em;
	height:1em;
	padding:0.3em;
	margin:7vh 0vw 7vh 3vw;
	border:1px solid grey;
	text-align: center;
	cursor:pointer;
	background-color: #cacaca;
	opacity:0.8;
}
.circle:active{
    background-color: grey;
}
.cir-desc{
	font-size: 0.8em;
}
.case-cont{
    width: 95%;
    margin:0 2.5% 1em 2.5%;
    border: 1px solid #4c9cd5;
}
.case-name{
	font-size: 0.7em;
	text-align: center;
	color:#cacaca;
	width:100%;
	margin-bottom: 0.5em;
}
.case-report-add{

}
.case-report-input{

}
.case-box{
	border:1px solid grey;
	padding:2%;
	margin:2%;
	width:92%;
}
.case-success{

}
.case-success-cont{
	font-size: 0.7em;
    float:left;
    width:70%;
}
.case-report-btn{
    float:right;
    width:10%;
    margin-left:2%;
}
#cv{
    width: 100vw;
    height: 100vh;
    /* margin: 2.5vh 2.5vw 2.5vh 2.5vw; */
    top: 0;
    left: 0;
    opacity: 1;
    background-color: rgba(1, 43, 109, 0.8);
    color: rgb(176, 176, 176);
    position: fixed;
    z-index: -10;
    overflow-y:scroll;
    height:100vh;
    display:none;
}
#cv-x{
	position:absolute;
	top:0.5em;
	right:0.5em;
	cursor: pointer;
}
#cv-x:active{
	background-color: grey;
}
#cv-head{
	height:1.75em;
}
.cv-container{
	margin:0.5em;
	border:1px solid #094293;
	padding:0.5em;
	font-size: 0.7em;
}
.cv-title{
	width:100%;
	text-align: right;
	font-size:0.65em;
	margin-bottom: 0.5em;
	color:#bacbe2;
}
.cd-cv{
	box-shadow: none;
}
.cv-checked{
    color: #39ff39;
}
.cv-unchecked{
    color:#cacaca;
    text-decoration: line-through;
}
.cv-added{
    color:#efef4b;
}
.cv-added-unchecked{
    color:#efef4b;
    text-decoration: line-through;
}
#cv-cards{
	width:100%;
    overflow-x:scroll;
    display:flex;
    align-items: center;
    position:relative;
    top:100vh;
}
.cv-card{
	float:left;
}
.case-sponsor-container{
/*	display: flex;
	align-items: center;
	overflow: scroll;*/
}
#case-goods-container{
    border:1px solid grey;
    margin-bottom: 1em;
    padding:0.5em;
}
.case-goods{
    width:80%;
    font-size: 0.6em;
}
.case-goods-cont{
	float:left;
	width:100%;
}
.case-sponsor{
	float:left;
}
.case-list{
	width:80%;
    font-size: 0.6em;
}

