#signup{
	position: absolute;
    top:10px;
    margin:0;
	opacity:1;

}

#login{
	position:relative;
	top:10px;
	margin:0;
	transform: rotateZ(180deg);
	opacity:0;
	z-index: -1;
}
.acc-alert{
	font-size: 0.6em;
	color:#950000;
	text-align:center;
	font-weight: 900;
}
.acc-warn{
	font-size: 0.6em;
	color:#8a9500;
	text-align:center;
	font-weight: 900;
}
#normal{
	display: none;
}