html, body{

    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
}

body{
    /*background-color: #f8ecdf;
    background-color: #f2f3f4;
    background-color: #9ce0ff;
    background-color: #cfff9c;
    background-color: #adfcd6;*/
    width:100vw;
    color: black;
    font-size: 1.3em;
    overflow-x:hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;  
    overflow: hidden;
    
}
a{
    text-decoration: none;
    color:black;
}

input{
    padding:0.3em;
    border-radius:0.2em;
    margin:1em;
}
#app-body{
    position:relative;
    top:100vh;
    overflow-y:scroll;
    z-index:1;
    opacity:1;
    position:relative;
    height:100vh; 
}
.app{
    z-index:1;
    overflow-x:none;
}
#test{
    position:fixed;
    /*background-image: url('../img/bg/bg (1).jpg');*/
    object-fit:cover;
    height:10vh;
    width: 10vw;
}

#background{
    position:fixed;
    height:100vh;
    width:100vw;
    opacity:0.7;
    top:0px;
    left:0px;
    z-index:-10;
    object-fit:cover;
/*    background-image:linear-gradient(top, #1a2a91 0%, #1a3e91 51%);
    background-image:-webkit-linear-gradient(top, #1a2a91 0%, #1a3e91 51%);
    background-image:-ms-linear-gradient(top, #1a2a91 0%, #1a3e91 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #1a2a91),
        color-stop(0.51, #1a3e91)
    );*/

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow-x:none;
}
.inputbox{
    border-radius:5%;
    padding:0.3em;
    margin:0.3em;
}
#navbar{
    padding-right: 1vw;
    padding-left: 1vw;
    padding-top: 1vh;
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #066981;
    opacity: 0.95;
    z-index: 80;
    border-radius: 20% 20% 0% 0%;
    font-size: 0.8em;
}
.nav-comp-normal:click{
    color:grey;
}
#nav-hidden{
    display:none;
}
.nav-comp-normal{
    margin-right:1vw;
    margin-left:1vw;
    margin-top:1vh;

    width:30vw;
    text-align: center;

    cursor: pointer;
}
#sidebar{
    position:fixed;
    height:0vh;
    width:0vw;
    background-color: black;
    opacity:0.8;
    z-index:100;
    top:50%;
    left:0%;
    color:white;
    display:none;
    font-size:0.8em;

    
}
.sidebar-cont-container{
    width:100vw;
}
.side-cont{
    text-align: center;
    padding: 3vh;
    border-top:1px solid #474747;
    width:25vw;
    display:none;
    cursor: pointer;
}
.X{
    float:right;
    clear:both;
    font-size: 1.4em;
    position:relative;
   /* margin:0.5em;
    padding:0.25em;*/
    display:none;
    cursor: pointer;
    position: absolute;
    right: 3em;
}
#home{
    border-top:1px solid #474747;
    border-right:1px solid #474747;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
#news{
    border-top:1px solid #474747;
    border-left:1px solid #474747;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;    
}
#planner{
    border-right:1px solid #474747;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
#cases{
    border-left:1px solid #474747;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}
#add{
    border-right:1px solid #474747;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
}
#account{
    border-left:1px solid #474747;
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}
.card{

    padding-right:1vw;
    padding-left:1vw;
    padding-top:1vh;
    padding-bottom:1vh;

    margin-right:1vw;
    margin-left:1vw;
    margin-top:1vh;
    margin-bottom:1vh;

    float:left;
    border: 2px solid #5ebaff;

    border-radius: 2px;

    background-color: #680707;
    color:white;

    opacity:0.85;

    background-image:linear-gradient(top, #2884bf 0%, #0b58c5 40%);
    background-image:-webkit-linear-gradient(top, #2884bf 0%, #0b58c5 40%);
    background-image:-ms-linear-gradient(top, #2884bf 0%, #0b58c5 40%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2884bf),
        color-stop(0.40, #0b58c5)
    );
    
    box-shadow: 0px 6px 4px 0px #b3b3b3;

}
.click{
    cursor:pointer;

}
.click:hover{
    border:1px solid #cacaca;
}
.click:active{
    background-color: grey; 
}
.cd-half{
    width:45vw;
    height:44vh;

}
.cd-title{
    text-align:center;
    width:100%;
    margin-bottom:1em;
    margin-top:1em;
}
.cd-author{
    font-size: 0.9em;
    color:grey;
    width:100%;
    text-align:right;
    position: relative;
    margin-bottom:1em;
}
.cd-img-cont{
    border:1px solid #e6e5e5;
    padding:0.5em;
}
.cd-img{
    object-fit:cover;
    position:relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius:1%;
}
.cd-desc{
    border:1px solid #e6e5e5;
    background-color: #efefef;
    padding:0.3em;
    margin-top:0.6em;
    text-align:left;
}
.cd-full{
    width:90vw;
    /*min-width:200px;*/
}
.cd-row-label{
    font-size: 0.7em;
    text-align: center;
    width:20%;
    word-wrap: break-word;
    color:#e0ff00;
}
.center{

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-image{
 
}
.btn{
    cursor: pointer;
    text-align:center;
}
.btn:active{
     background-color: #272727;        
}

#report{
    background-image: url("../img/pen.png");
}
.row{

    width:100%;

}
.row-title{
    float:left;
    font-size:0.7em;
    margin:0.5em;
}
.row-x{
    float:right;
    font-size:0.5em;
    
}
.row-head{
    position:relative;
    color:#95caff;

}
#dropdown{
    background-color: black;
    opacity:0.6;
    color:white;
    position:absolute;
    /*height:10em;*/
    max-height: 5em;
    font-size:0.8em;
    overflow-y:scroll;
}
.dropdown-cont{
    border-bottom:1px solid black;
    padding-top:0.3em;
}
.dropdown_cont:hover{
    opacity:1;
}
.dropdown_cont:active{
    opacity:1;
}
textarea:focus, input:focus{
    outline: none;
}
.add-input{
    border:none;
    background-color: rgb(24, 93, 194, 0);
    color:#e0ff00;
    border-bottom:1px solid #e0ff00;
    width:90%;
    min-width:15em;
    min-height:2em;
    border-radius:0px;
}
.add-input:focus{
    border-bottom:3px solid #e0ff00;
}
#mem-body{
    width:100%;
    overflow-x:scroll;
    display:flex;
    align-items: center;
}
.mem-card{
    border: 1px solid #55a0e1;
    float:left;
    min-width:88vw;
}
::-webkit-input-placeholder { /* Chrome */
  color: #b9c276;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #b9c276;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #b9c276;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #b9c276;
  opacity: 1;
}
.add-cond{
    min-width:2em;
    width:30%;
    font-size:0.6em;
}
.add-btn{
    cursor: pointer;
    padding: 0.3em;
    background-color: rgba(38, 129, 192, 0);
    border:1px solid rgba(136, 179, 93, 0.56);
    color: #88b35d;
    font-size: 0.75em;
    text-align: center;
    text-transform: uppercase;
    margin:0 1em 0 1em;
    padding:0.3em;
}
.add-btn:active{
    background-color: #2d1a91;
}
#overlay{
    background-color: black;
    opacity:0.8;
    color:green;/*
    text-transform:uppercase;*/
    width:100vw;
    height:100vh;
    position:fixed;
    top:0px;
    left:0px;
    overflow-y:scroll;
    display:none;
    padding:1em;
    font-size:0.7em;
    z-index: 100;
    word-wrap: break-word;
    overflow-x: none;
}
#notif{
    position: fixed;
    top: -8em;
    left: 4.9vw;
    width: 90vw;
    /* margin: 0 auto; */
    /* margin-right: 5vw; */
    font-size: 0.9em;
    padding: 0.2vw;
    border-radius: 2px;
    background-image: linear-gradient(top, #2884bf 0%, #0b58c5 40%);
    /* background-image: -webkit-linear-gradient(top, #2884bf 0%, #0b58c5 40%); */
    background-image: -ms-linear-gradient(top, #2884bf 0%, #0b58c5 40%);
    /* background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #1cade3), color-stop(0.70, #3854c4) ); */
    text-align: center;
    background-color: rgba(1, 184, 253, 0.92);
    color: #004811;
    z-index: 1200;
    border: 1px solid #6280b7;
    
}
.add-img{
    border: 1px solid #55a0e1;
    float: left;
    width: 30vw;
    cursor: pointer;
}
#pic-cont{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}
.pic-cont{
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}
#add-issues-container{
    border:1px solid grey;
    margin-bottom: 1em;
    padding:0.5em;
}
.add-issue{
    width:80%;
    font-size: 0.6em;
    margin-bottom: 0.3em;
}
#add-solutions-container{
    border:1px solid grey;
    margin-bottom: 1em;
    padding:0.5em;
}
.add-solution{
    width:80%;
    font-size: 0.6em;
    margin-bottom: 0.3em;
}
.subText{
    font-size: 0.5em;
    color:#cacaca;
    opacity:0.7;
    text-align: center;
}
.check-label{
    text-align: center;
    font-size: 0.7em;
    color:#e0ff00;

}
.cover{
    position:fixed;
    top:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    width: 100vw;
    z-index:1000;
    display:none;
    opacity:0;
}
#msg-container{
    position: relative;
    top: 25vh;
    width: 0;
    left:0;
    font-size: 0.7em;
    background-color: rgba(255, 255, 255, 0.788235294117647);
    padding: 0.5em 0.5em 0 0.5em;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px white;
    height: unset;
    display: inline-block;
    display:none;
}
#msgbox-head{
    height:1.5em;
    font-size: 1.1em;
}
#msg-title{
    display: inline-block;
    float:left;
}
#msg-x{
    float:right;
}
#msg-msg{
    text-align: center;
    word-wrap: break-word;
    opacity:0;
    border-top: 1px solid grey;
    
    padding: 0.5em 0 0.5em 0;
}
.msg-btn{
    float:left;
    position:relative;
    border-top: 1px solid grey;
}
#msg-btns{
    opacity:0;
}
#option-container{
    position: relative;
    top: 25vh;
    width: 0;
    left:50vw;
    font-size: 0.7em;
    background-color: rgba(255, 255, 255, 0.788235294117647);
    padding: 0.5em 0.5em 0 0.5em;
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px white;
    height: unset;
    display: inline-block;
    display:none;
}
#option-head{
    height:1.5em;
    font-size: 1.1em;
}
#option-title{
    display: inline-block;
    float:left;
}
#option-x{
    float:right;
}
.option{
    text-align: center;
    word-wrap: break-word;
    opacity:0;
    border-top: 1px solid grey;    
    padding: 0.5em 0 0.5em 0;
}
#options{
    max-height: 50vh;
    overflow-y:scroll;
}