#planner-page{
	overflow-y:scroll;
	height:100vh;
}
.pln-box{
    border:1px solid #4788e2;
    padding:0.5em;
    margin:0.3em;
    font-size: 0.7em;
}
.pln-box-title{
	width:100%;
	text-align: right;
	font-size: 0.6em;
	color:#cacaca;
}
#pln-add{
	width:100%;
	display:none;
	position:fixed;
	top:0px;
	left:0px;
	z-index: 1000;
	height:100vh;
	overflow-y: scroll;
	background-color: rgba(1, 43, 109, 0.8);
	opacity:0;
}

.pln-date{
	width: unset;
    font-size: 0.6em;
    background-color: dodgerblue;
    padding: 0.5em;
    border: 1px solid #70bef7;
    box-shadow: 0px 5px 6px 0px #a8a8a7;
}
.pln-cont{
	width:70%;
	height:1.2em;
}
.pln-title{
	font-size:0.9em;
	text-align: center;
	margin-bottom: 0.5em;
}
#pln-cir{
    border-radius: 50%;
    position: fixed;
    bottom: 1.3em;
    right: 2%;
    width: 1em;
    height: 1em;
    color: teal;
    border: 1px solid teal;
    font-size: 1.3em;
    z-index: 900;
    background-color: rgba(0, 255, 255, 0.42);
    font-weight: bolder;
}
.pln-creator{
    color: #88b35d;
    cursor: pointer;
    padding: 0.3em;
    background-color: rgba(38, 129, 192, 0);
    border: 1px solid rgba(136, 179, 93, 0.56);
    max-width: 90%;
    font-size: 0.5em;
    text-align: left;
    margin: 0 1em 0 1em;
    padding: 0.3em;
    display: inline-block;
    word-wrap: break-word;
}
#pln-add-x{
    cursor:pointer;
    font-size: 1em;
    display: inline-block;
    position:relative;
    top:0px;
    margin:0.5em;
    text-align: right;
    color:white;
    opacity:1;

}
#pln-add-x:active{
    background-color: grey;
}
#pln-add-cont{
	top:100vh;
	position:relative;
}
.btn{
	cursor: pointer;
    text-align: center;
    padding: 0.5em;
    margin: 0.2em 0.2em 0em 0.2em;
}
.active-btn{
    background-image: linear-gradient(top, #066981 0%, #064d5e 80%);
    background-image: -webkit-linear-gradient(top, #066981 0%, #064d5e 80%);
    background-image: -ms-linear-gradient(top, #066981 0%, #064d5e 80%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #066981), color-stop(0.80, #064d5e)); 
}
.btn:active{
	background-color: grey;

}
.large-image{
	max-height: 90vh;
    max-width: 90vw;
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    position: relative;
}
#large-image-x{
	color:white;
}
