<div id="account_ln_sn">
	<div class = 'row center'>
	    <div class = 'card cd-full' id = 'signup'>
	        <div class = 'cd-title'>Sign Up</div>
	        <div class = 'row' id="rw-sn-fn"><input type="text" placeholder="First Name" class='add-input signup' id='sn-fn' ></div>
	        <div class = 'row' id="rw-sn-ln"><input type="text" placeholder="Last Name" class='add-input signup' id='sn-ln' ></div>
	        <div class = 'row' id="rw-sn-em"><input type="email" placeholder="Email Address" class='add-input signup signup-em' id='sn-em'></div>
	        <div class = 'row' id="rw-sn-pswd"><input type="password" placeholder="Password" class='add-input signup' id='sn-pswd' ></div>
	        <div class = 'row' id="rw-sn-pswd-c"><input type="password" placeholder="Confirm Password" class='add-input signup' id='sn-pswd-c' ></div><!-- 
	        <div class = 'row' id="rw-sn-mn"><input type="tel" placeholder="Mobile Number" class='add-input signup' id='sn-mn'></div> -->

	        <div class = 'row center'>
			    <div class= "add-btn" onclick="ln_sn('signup')" id="sn">Sign Up</div>
			    <div class= "add-btn" id='login_btn'>or Login</div>
		    </div>
	    </div>



	</div>

	<div class = 'row center'>
	    <div class = 'card cd-full' id ='login'>
	        <div class = 'cd-title'>Login</div>
	        <div class = 'row' id='rw-ln-em'><input type="text" placeholder="Email Address" class='add-input login login-em' id='ln-em'></div>
	        <div class = 'row' id='rw-ln-pswd'><input type="password" placeholder="Password" class='add-input login' id='ln-pswd'></div>
	        
	        <div class = 'row center'>
			    <div class= "add-btn" onclick="ln_sn('login')" id="ln">Login</div>
			    <div class= "add-btn" id='signup_btn'>or Sign Up</div>
		    </div>
	    </div>
	</div>

	<div id='normal'>
		<div class="row center">
			<div class="card cd-full" id='normal'>
				<div class="cd-img-cont">
					<div class="cd-img" id="profile-picture"></div>
				</div>
				<div class="cd-desc" id="bio"></div>
			</div>
		</div>
		<div class="row center">
			<div class="card cd-full">
				<div class="row center"></div>
			</div>
		</div>
    </div>
</div>

<div id='account-edit'>

    <div class = 'row center'>
    	<div class = 'card cd-full'>
    		<div class='pln-box'>
    			<div class ='pln-box-title'>Email Address</div>
    		</div>
    	</div>
    </div>
	<div class='pln-box'>
		<div class='pln-box-title'>Message Us</div>
		<div class='row center'>Please provide all the neccessary details about the help you wan to provide. Feel free to provide solutions other than the ones we have mentioned.</div>
		<div class ='row center'><textarea class = 'add-input auto-height' placeholder='Specify the help you want to provide' id='help'></textarea></div>
	</div>

</div>