<div id="app-body">
    <div class='rwo center'>
        <div class='card cd-full'>
            <div class='cd-title'>Situation</div>
            <!-- <div class='center row'><textarea class = 'add-input' placeholder='Overview' style='margin-bottom:0.6em;' id="add-situation-textarea"></textarea></div> -->
            <div id='add-issues-container'>
                <div id = 'add-issues'></div>
                <div class='row center'><input type="text" placeholder='Issue' class='add-input' id='add-issue-input'></div>
                <div class='add-btn' id='add-issue-add-btn'>+Add Issue</div>
            </div>
            <div id='add-solutions-container'>
                <div id = 'add-solutions'></div>
                <div class='row center'><input type="text" placeholder='Solution' class='add-input' id='add-solution-input'></div>
                <div class='add-btn' id='add-solution-add-btn'>+Add Solution</div>
            </div>
        </div>    
    </div>

    <div class = 'row center'>
        <div class = 'card cd-full'>
            <div class = 'cd-title'>Personal Information</div>
            <div id = 'mem-body'>
                    <div id ='mem-1' class = 'mem-card'>
                    	<div class = 'row-head' style="height:2.5em;">		            		
                    	    <div class = 'row-title'>Member 1</div>
                    	    <div class = 'X btn' style = "font-size: 1.15em; padding: 0.2em; margin:0.3em;">X</div>
                    	</div>
                        <div class = 'center row'><input type='text' placeholder = 'First Name' id='first-name' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='text' placeholder = 'Last Name' id='last-name' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='text' placeholder = 'Other Names' id='other-name' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='text' placeholder = 'NIC Number' id='nic' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><div style="width:50%;font-size: 0.6em;padding-left:5%">Date of Birth: </div><input type='date' placeholder = 'Date of Birth' id='dob' class='member-1 add-input add-member-1' style="width:40%;"></div>
                        <div class = 'center row'><input type='number' placeholder='Age' max='120' id='age' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='number' placeholder = 'Mobile Number' id='mobile' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='email' placeholder ='Email Address' id='email' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='text' placeholder = 'Occupation' id='occupation' class='member-1 add-input add-member-1'></div>
                        <div class = 'center row'><input type='number' placeholder = 'Monthly Salary' id = 'salary' class='member-1 add-input add-member-1'></div>
                    </div>
            </div>
            <div class="btn" id="mem-plus">+</div>

        </div>
    </div>
    <div class = 'row center'>
        <div class = 'card cd-full'>
            <div class = 'cd-title'>Other Details</div>
            <div class = 'row' id='other'>	                
                <div class = 'center row'><input type="number" placeholder = "Home Number" id='home-num' class = 'add-input add-other'></div>
                <div class = 'center row'><input type="text" placeholder = "Address" id='address' class = 'add-input add-other'></div>
                <div class = 'center row'><div class='add-btn' id='add-getloc'>GET</div><input type="text" placeholder = "Coordinates" id='coordinates' class = 'add-input add-other'></div>
                <div class = 'center row'><input type="text" placeholder = "Region" id='region' class = 'add-input add-other'></div>
                <div class = 'center row'><div style="width:30%;font-size: 0.6em;padding-left:5%">Condition: </div><input type='range' placeholder = 'Condition' id='cond' class='member-1 add-input' style="width:40%;" oninput="cond('cond')"><input type='number' max='100' min='0' id='cond-value' class = 'add-input add-other add-cond' oninput='cond("cond-value")' value="50"></div>
                <div class = 'center row'><textarea placeholder = "Additional Notes" id='adds' class = 'add-input add-other'></textarea></div>
                <div class='center row'><input type="text" maxlength="50" placeholder="Title" class="add-input add-other" id="title"></div>
                
            </div>
        </div>
    </div>
    <div class = 'row center'>
        <div class = 'card cd-full'>
            <div class = 'cd-title'>Photos</div>
            <div class = 'row center'>
                <div class ='add-btn' id="add-pic">+Picture</div>                
            </div>
            <div class = 'row' id='pic-cont'></div>
        </div>
    </div>
    <div class="row center">
        <div class = 'add-btn' id='send' onclick="send()"> send </div>
    </div>

    <div id = 'drop'></div> 
      
    <div style="height:5vh"></div>  
</div>
