<div id="cases-page">
	<div id="upper-bar" class ='center'>
		<div class="upper-bar-comp btn" id="normal-btn">Normal Panel</div>
		<div class="upper-bar-comp btn" id="admin-btn">Admin Panel</div>
	</div>

	<div class='cover' id='pubhlp'>
		<div class='btn-x btn' id = 'pubhlp-x'>X</div>
		<div class = 'row center'>
			<div class ='card cd-full'>
				<div class = 'cd-title'>Make case public</div>
				<div class = 'row center'><textarea class='add-input auto-height' placeholder='Overview' id = 'pubhlp-desc'></textarea></div>
				<div class = 'row center'><input class='add-input' type='text' placeholder='Case ID' id = 'pubhlp-case_id' readonly ></div>
				<div class = 'row center'><input type = 'checkbox' id = 'pubhlp-situation' checked><div class = 'check-label'>Display issues and solutions (Recommended)</div></div>
				<div class = 'row center'><input type = 'checkbox' id = 'pubhlp-photo'><div class = 'check-label'>Display case photos (Not recommended)</div></div>
			</div>
		</div>
		<div class = 'row center'>
			<div class = 'add-btn' onclick = 'pubhlp_confirm()'>Confirm</div>
		</div>
	</div>


	<div id="normal-panel">
		<div style='height: 2.5em;'></div>
		<div id='normal-body'></div>
		<div style='height: 2.5em;'></div>
	</div>
    
	<div id="admin-panel" class="center">
		<div id="cases-side">
			<div class="circle" id="circle-1">1</div>
			<div class="circle" id="circle-2">2</div>
			<div class="circle" id="circle-3">3</div>
			<div class="circle" id="circle-4">4</div>
			<div class="circle" id="circle-5">5</div>
			<div class="circle" id="circle-6">6</div>
			<div class="circle" id="circle-7">7</div>
			<div class="circle" id="circle-8">8</div>
		</div>

		<div id="cases-main">


		</div>
	</div>


</div>