<div id = 'planner-page'>
	<div id="upper-bar" class ='center'>
		<div class="upper-bar-comp btn" id="pln-all-btn">All Events</div>
		<div class="upper-bar-comp btn" id="pln-my-btn">My Events</div>
		<div class="upper-bar-comp btn" id="pln-completed-btn">Completed Events</div>
	</div>
	<div style="height:2em;"></div>
	<div id='planner-body'></div>
	<div style="height:4em;"></div>
    <div id='pln-cir' class="add-btn" onclick="show_pln_add()">+</div>	
</div>